.header-container {
    display: flex;
}

.header-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    display: inline-block;
    justify-content: space-around;
    align-items: stretch;
}