.header-container {
    display: flex;
}

.header-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    display: inline-block;
    align-items: center;
    flex: 1 1 auto;
}